{% extends 'base.html' %}

{% block title %} Tasks List View {% endblock title %}

{% block content %}
    <main>
        <div>
        <h1>{{ list_object.name }}
            <p>
                <a href="{% url 'todo_list_update' list_object.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' list_object.id %}">Delete</a>
            </p>
        </h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_object.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        </div>
    </main>
{% endblock content %}
