{% extends 'base.html' %}

{% block title %} My To Do Lists {% endblock title %}

        {% block content %}
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create A New List</a>
                    <a href="{% url 'todo_item_create' %}">Create A New Item</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in todo_list_object %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                            <td>{{ list.items.all|length }}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock content %}
