{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/todos.css' %}">
    </head>
    <body>
        {% block content %}{% endblock content %}
     </body>
</html>
